body {background-image: url('http://wallpapercave.com/wp/INj8nV6.jpg')
}

h1 {
  padding: 30px;
  border: solid;
  border-color: #BA55D3;
  color: #C71585;
  font-size: 350%;
  font-family: impact;
}

.about {
  color: #7B68EE;
  font-family: georgia;
  font-size: 20px;
  font-style: oblique;
}

#details {
  float: left;
  display: inline-block;
  vertical-align: top;
  border: 2px dotted #DA70D6;
  padding: 10px 30px 10px;
  border-radius: 15px 50px 30px;
  border-spacing: 10px 10px;
  margin-right: 900px;
}

#activities {
  float: right;
  display: inline-block;
  vertical-align: top;
  border: 2px dotted #DA70D6;
  padding: 10px 30px 10px;
  border-radius: 15px 50px 30px;
  border-spacing: 10px 10px;
  margin-right: 800px;
}

@media screen and (max-width: 400px) {
  h1 {
    font-size: 100%;
  }
}